#app {
    width: 100%;
    height: 100%;
    position: relative;
}

.menu-bar {
    position: fixed;
    font-size: 1rem;
    bottom: 0;
    width: 100%;
    left: 0px;
    height: 3rem;
    line-height: 3rem;
    background: #fff;
    color: #413939;
    right: 0px;
    display: flex;
    border-top: 1px solid lightgray;
}

.menu {position: relative;display: inline-block;flex: 1;text-align: center;}

.cart-amount {
    position: absolute;
    right: 0;
    top: 0.2rem;
    background: #ff5bb9;
    width: 1rem;
    height: 1rem;
    border: 1px solid lightgray;
    line-height: 1rem;
    border-radius: 2rem;
}