.cart {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 2rem;
}

.cart .cart-title {
    height: 2rem;
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
    background: linear-gradient(to right, #ff2626 , #ff7354, #ff5abd);
    color: white;
}

.cart .cart-item {
    height: 5.5rem;
    width: 100%;
    display: flex;
}

.cart .cart-items {
    position: relative;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.cart .cart-item .image img {
    height: 3rem;
    margin-top: 1rem;
    border: 1px solid gray;
    border-radius: .2rem;
}

.cart .image {
    line-height: 5rem;
    flex: 2;
}

.cart .option {
    text-align: left;
    position: relative;
    font-size: 1rem;
    line-height: 5.5rem;
}

.cart .option-panel{
    text-align: left;
    font-size: 1rem;
    margin-top: .3rem;
}

.cart .description {
    flex: 5;
    font-size: .7rem;
    margin-left: .3rem;
    margin-top: 1rem;
    position: relative;
}

.cart .amount {
    flex: 2;
}

.cart .option img {
    width: 2rem;
    height: 2rem;
    margin-top: 1rem;
}

.cart .amount-display input {
    font-size: 1rem;
    width: 1rem;
    line-height: 1rem;
    border: 1px solid gray;
    text-align: center;
}

.cart .decline {
    display: inline-block;
    padding: 0 .4rem;
    border: 1px solid gray;
    border-radius: 1rem;
}

.cart .amount-display {
    display: inline-block;
    margin: 0 .5rem;
}

.cart .increase {
    display: inline-block;
    padding: 0 .3rem;
    border: 1px solid gray;
    border-radius: 1rem;
}

.cart .amount {
    font-size: .6rem;
    padding-top: 1rem;
    padding-right: .5rem;
    text-align: right;
}

.cart .amount .amount-number {
    color: gray;
}

.cart .amount .remove>img {
    height: 1.2rem;
}

.cart .amount .totel-price {
    font-size: 1rem;
    padding: .2rem 0;
}

.cart .cart-unselected {
    height: 1rem;
    width: 1rem;
    display: inline-block;
    border-radius: 2rem;
    border: 1px solid gray;
    margin: 0 .5rem;
    cursor: pointer;
}

.cart .cart-selected {
    height: 1rem;
    width: 1rem;
    display: inline-block;
    background: red;
    border-radius: 2rem;
    border: 1px solid gray;
    margin: 0 .5rem;
    position: relative;
    cursor: pointer;
}
.cart .cart-selected:after{
    content: "";
    position: absolute;
    top: .25rem;
    left: .25rem;
    height: .5rem;
    width: .5rem;
    background: #ffffff;
    border-radius: 1rem;
}

.cart .total-price {
    position: absolute;
    bottom: 0;
    height: 2.5rem;
    line-height: 2.5rem;
    background: #EEEEF3;
    font-size: 1rem;
    border-top: 1px solid gray;
    left: 0;
    right: 0;
    padding-left: 1rem;
}

.cart .confirm-pay {
    display: inline-block;
    position: absolute;
    right: 1rem;
    height: 2rem;
    width: 4rem;
    background: #FF0036;
    top: .25rem;
    line-height: 2rem;
    color: lightcyan;
    text-align: center;
    border-radius: .2rem;
}