.search {
    position: absolute;
    bottom: 3rem;
    width: 100%;
    top: 0;
}

.search .search-bar {
    position: relative;
    height: 3rem;
    line-height: 3rem;
    background: linear-gradient(to right, #ff2626 , #ff7354, #ff5abd);
}

.search .search-button {
    display: inline-block;
    background: white;
    margin-left: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    line-height: 2rem;
    border-radius: 2rem;
    font-size: .8rem;
}

.search input.search-input {
    width: 10rem;
    height: 1.5rem;
    margin-left: 2rem;
    font-size: 1rem;
    border: 0;
}

.search .catelog {
    position: relative;
    display: flex;
    line-height: 1.5rem;
    font-size: .8rem;
    padding-top: .3rem;
    background: #e98271;
    margin-top: .2rem;
    padding-bottom: .3rem;
}

.search .catelog-item {
    flex: 1;
    text-align: center;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    background: #bd6363;
    color: white;
}

.search .item-list .item-image img {
    height: 6rem;
}