.search {
    position: absolute;
    bottom: 3rem;
    width: 100%;
    top: 0;
}

.search .search-bar {
    position: relative;
    height: 3rem;
    line-height: 3rem;
    background: linear-gradient(to right, #ff2626 , #ff7354, #ff5abd);
}

.search .search-button {
    display: inline-block;
    background: white;
    margin-left: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    line-height: 2rem;
    border-radius: 2rem;
    font-size: .8rem;
}

.search input.search-input {
    width: 10rem;
    height: 1.5rem;
    margin-left: 2rem;
    font-size: 1rem;
    border: 0;
}

.search .catelog {
    position: relative;
    display: flex;
    line-height: 1.5rem;
    font-size: .8rem;
    padding-top: .3rem;
    background: #e98271;
    margin-top: .2rem;
    padding-bottom: .3rem;
}

.search .catelog-item {
    flex: 1;
    text-align: center;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    background: #bd6363;
    color: white;
}

.search .item-list .item-image img {
    height: 5rem;
    margin-top: 0.5rem;
}

.search .items {
    padding-top: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
    margin-bottom: 3rem;
}



.search .item-list {
    display: flex;
    position: relative;
}

.search .item-content {
    padding-left: .8rem;
}


.search .item-list .title>div {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: .8rem;
}

.search .item-list .description {
    display: flex;
    height: 2rem;
}

.search .item-list .product-description {
    line-height: 2rem;
    margin-right: 1rem;
    font-weight: bold;
    font-size: .7rem;
    border-right: 1px solid gray;
    padding-right: 2rem;
}

.search .item-list .sell-amount>div {
    color: darkgray;
    font-size: .6rem;
    margin-top: .3rem;
}

.search .item-list  .buy {
    display: flex;
    text-align: center;
    line-height: 1.5rem;
}

.search .item-list .price {
    flex: 1;
    text-align: left;
}

.search .item-list .line {
    flex: 1;
}

.search .item-list .per {
    flex: 4;
    text-align: left;
}

.search .item-list .add-chart {
    flex: 3;
}

.search .item-list .item-content {
    flex: 3;
    font-size: .7rem;
}

.search .item-list .item-image {
    flex: 1;
}

.search  .item {
    border-bottom: 1px solid darkgrey;
    margin-bottom: 1rem;
}