.search {
    position: absolute;
    bottom: 3rem;
    width: 100%;
    top: 0;
}

.search .search-bar {
    position: relative;
    height: 3rem;
    line-height: 3rem;
    background: linear-gradient(to right, #ff2626 , #ff7354, #ff5abd);
}

.search .search-button {
    display: inline-block;
    background: white;
    margin-left: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    line-height: 2rem;
    border-radius: 2rem;
    font-size: .8rem;
}

.search input.search-input {
    width: 10rem;
    height: 1.5rem;
    margin-left: 2rem;
    font-size: 1rem;
    border: 0;
}