<div class="cart">
    <div class="cart-title">
        购物车
    </div>
    <div class="cart-items">
        <div class="cart-item" v-for="item in cartitems">
            <div class="option">
                <div :class="cartSelectStyle" v-on:click="changeCartSelectStyle"></div>
            </div>
            <div class="image">
                <img :src="item.icon">
            </div>
            <div class="description">
                <div class="description-content">
                    {{item.cart_description}}
                </div>
                <div class="option-panel">
                    <div class="decline" @click="changeCartAmount(item, false)">
                        -
                    </div>
                    <div class="amount-display">
                        <input type="text" :value="item.amount"/>
                    </div>
                    <div class="increase" @click="changeCartAmount(item, true)">
                        +
                    </div>
                </div>
            </div>
            <div class="amount">
                <div class="amount-number">
                    数量X{{item.amount}}
                </div>
                <div class="totel-price">
                    ¥<span>{{item.amount*item.price}}</span>
                </div>
                <div class="remove">
                    <img @click="deleteItem(item)" src="/images/remove.png">
                </div>
            </div>
        </div>
    </div>
    <div class="total-price">
        <span>总金额：</span>
        <span>¥100</span>
        <div class="confirm-pay"></div>
    </div>
</div>