<div class="cart-item">
    <div class="option">
        <img src="/images/selected.png">
    </div>
    <div class="image">
        <img src="/images/products/product_1/icon.png">
    </div>
    <div class="description">
        <div class="description-content">

        </div>
        <div class="option">
            <div class="decline">

            </div>
            <div class="amount">
                <input type="text" v-model="" />
            </div>
            <div class="increase">

            </div>
        </div>
    </div>
    <div class="amount">
        <div class="amount-number">

        </div>
        <div class="totel-price">

        </div>
        <div class="remove">
            
        </div>
    </div>
</div>